h1{
    color: darkred;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    color: darkgreen;
    padding: 50px;
    border: solid black 10px;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}